{% extends 'base.html.twig' %}

{% block title %} Ajouter une aide {% endblock %}

{% block body %}
    <h1>Ajouter une aide</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div style="float:right">
        <a href="{{ path('app_aid_index') }}"><button type="button" class="btn btn-secondary"> Retour </button></a>
        <button type="submit" class="btn btn-primary"> Ajouter </button>
    </div>

    {{ form_end(form) }}
{% endblock %}
