{% extends 'base.html.twig' %}

{% block title %} Liste des programmes {% endblock %}

{% block body %}
    <div class="container">
        {% verbatim %}
         <div id="apiComponent"> </div>
        {% endverbatim %}
    </div>
{% endblock %}
