<template>
  <div class="container">

    <h1>Ceci est notre composant API !</h1>
    Charger la liste des programmes disponibles :
    <select v-model="selected">
      <option disabled value="">Please select one</option>
      <option>Auvergne-Rhône-Alpes</option>
      <option>Bourgogne-Franche-Comté</option>
      <option>Bretagne</option>
      <option>Centre-Val de Loire</option>
      <option>Corse</option>
      <option>Grand Est</option>
      <option>Hauts-de-France</option>
      <option>Ile-de-France</option>
      <option>Normandie</option>
      <option>Nouvelle-Aquitaine</option>
      <option>Occitanie</option>
      <option>Pays de la Loire</option>
      <option>Provence-Alpes-Côte d’Azur</option>
    </select>
    <button v-on:click="getProgramByRegion"> Rechercher </button>

    <h1>Liste des programmes disponibles</h1>
    <div v-if="!listProgram.length"> Aucun programme disponible pour cette région </div>
    <div v-else v-for="program in listProgram" class="program">
      {{ program.label }}
      <span>
        - Budget : {{ program.budget }} €
      </span>
      <span>
        - Disponible à partir de {{ program.dateStart }} jusqu'au {{ program.dateEnd }}
      </span>
      <div v-for="aid in program.aids" class="aid">
        Aides disponibles : {{ aid.label }} - Montant {{ aid.amount }}
      </div>
    </div>

  </div>
</template>

<script>
import axios from "axios"
import moment from 'moment'

export default {
  name: "ApiComponent",
  data () {
    return {
      response: null,
      listProgram: [],
      selected: null
    }
  },
  methods: {
    getProgramByRegion() {
      axios
        .get("http://127.0.0.1:8000/api/programs/region/" + this.selected)
        .then(response => {
          this.response = response.data
          this.listProgram = response.data['hydra:member']

          this.listProgram.forEach(function(element) {
            element.dateStart = moment(String(element.dateStart)).format("MM/DD/YYYY")
            element.dateEnd = moment(String(element.dateEnd)).format("MM/DD/YYYY")
          })
        });
    },
  },
}
</script>

<style scoped>

</style>